.menu {
  color: white;
  background-color: #115555;
  font-size: 20px;

  height: 30px;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  border-right: 1px solid white;
  overflow : hidden;

}
.menu:hover
{
  background-color : #000000;
}


.active{
  color: white;
  background-color: #4CAF50;
  font-size: 20px;

  height: 30px;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  border-right: 1px solid white;
  overflow : hidden;
}

